<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>Steak And Bake - Tezos Bakery</h2>
		<p>Hi! <br /> You stake it, we bake it!<br /> Our Delegation Address is <br /><a href="https://tzstats.com/tz1dNVDWPf3Q59SdJqnjdnu277iyvReiRS9M"><div class="input">tz1dNVDWPf3Q59SdJqnjdnu277iyvReiRS9M</div></a></p>
		<span id=space_msg>Computing...</span>
		<ul class="actions">
			<li><a class="button special icon fa-copy" id="btn_copy" data-clipboard-text="tz1dNVDWPf3Q59SdJqnjdnu277iyvReiRS9M"><span>Copy Address</span></a></li>

		</ul>
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>
