<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>[Closed] Steak And Bake - Tezos Bakery[/Closed]</h2>
		<p>Dear tezos delegators, <br />Unfortunately, our Tezos bakery will be closing its doors July 13th, 2024 . <br />Thank you for your unwavering support over the last nearly 5 years. <br />Your delegation has been a privilege from the time of Babylon to now Paris. <br />Please switch your delegation to another baker as soon as possible. <br />I wish you all the best in your future endeavors.
		<ul class="actions">
			<li><a class="button special icon fa-copy" id="btn_copy" data-clipboard-text="tz1dNVDWPf3Q59SdJqnjdnu277iyvReiRS9M"><span>Copy Address</span></a></li>

		</ul>
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>
