<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>Thank you for your delegation</h2>
			<p>We look forward to baking many new tez for you.</p>
		</header>
		<ul class="actions vertical">
			<li><a class="button special icon fa-copy" id="btn_copy" data-clipboard-text="tz1dNVDWPf3Q59SdJqnjdnu277iyvReiRS9M"><span>Copy Address</span></a></li>
			<li><a href="#" class="button fit">Learn More</a></li>
			<li><a href="https://tzstats.com/tz1dNVDWPf3Q59SdJqnjdnu277iyvReiRS9M" class="button fit" target="_blank">See tzStats</a></li>
		</ul>
	</div>
</section>
