<!-- Calc -->
<section id="one-calc" class="wrapper style1 calc">
	<header class="major">
		<h2>How much can I make?</h2>
		<p>Here's an estimated amount you could earn after one year with us.</p>
	</header>
	<form>
		<fieldset>
			<div class="calc-input"><h5>My # of tezos:</h5>
				<input id="mytez-input" type="text" value="10000" maxlength="18" />
			</div>
			<p>
			<h5>
				<div>
					Estimated returns: <b><span id=returnOntez>0</span> XTZ Annually</b>
				</div>
				<p>
				<div>
					Based on current APY: <b><span id=currentROS></span>%</b>
				</div>
			</h5>
		</fieldset>
	</form>
</section>