<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Why should you choose us?</h2>
			<p>Here's a few reasons we think are important to be as a tezos baker.</p>
		</header>
		<ul class="features">
			<li class="icon fa-paper-plane-o">
				<h3>Easy as pie</h3>
				<p>No need to be technical and run your own full node. We ensure the bakery has all the latest software and take care of all the details.</p>
			</li>
			<li class="icon fa-headphones">
				<h3>Governance Voting</h3>
				<p>We actively vote on your behalf to bring new improvements to the tezos ecosystem.</p>
			</li>
			<li class="icon fa-question-circle">
				<h3>Helpful</h3>
				<p>Your questions answered are only an email, tweet, or chat message away.</p>
			</li>
			<li class="icon fa-server">
				<h3>Powerful Decentralized Servers</h3>
				<p>Keep Tezos Decentralized! We have multiple dedicated nodes for all your professional staking needs. Our servers are not centralized in cloud hosts like azure or aws. </p>
			</li>
			<li class="icon fa-heart-o">
				<h3>Higher Profits and Low Fees</h3>
				<p>We love paying you fresh tezzie rolls from the oven. We keep baking operating costs low at 9% fee. You keep 91% of new rewards.</p>
			</li>
			<li class="icon fa-flag-o">
				<h3>No Minimum Delegation</h3>
				<p>Since the Tezo Delphi fee improvements, you get rewards a long as your earnings in each cycle exceeds transaction fee costs.</p>
			</li>
			<li class="icon fa-arrow-right">
				<h3>Custom staking rewards address</h3>
				<p>Would you like to receive rewards on different address for tax/accounting reasons? Send us a message with your info.</p>
			</li>
			<li class="icon fa-money">
				<h3>Time is Money</h3>
				<p>Delegate it and relax. Your staking rewards auto-compound. Have a custom request/idea? Just drop us a message.</p>
			</li>
			<li class="icon fa-trophy">
				<h3>High Performing Baker</h3>
				<p>We pride ourselves with 99.9% baking efficiency. Check tzstats.com for our latest stats.</p>
			</li>
			<li class="icon fa-cogs">
				<h3>Automated Payouts Every 2.8 Days</h3>
				<p>Keep calm and delegate. After the 12 first cycles, you get payments every cycle (2.8 days) with no extra effort.</p>
			</li>
			<li class="icon fa-group">
				<h3>Multi-Delegation Discounts</h3>
				<p>Delegate ADA to our <a href=https://steakandbake.github.io/ada/>stake pool</a> and get bundle discounts. Contact us for details.</p>
			</li>
			<li class="icon fa-key">
				<h3>Expert Experience</h3>
				<p>Proudly working and supporting tezos since early 2019.</p>
			</li>

		</ul>
	</div>
</section>
