<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Why should you choose us?</h2>
			<p>Here's a few reasons we think are important to be as a tezos baker.</p>
		</header>
		<ul class="features">
			<li class="icon fa-paper-plane-o">
				<h3>Easy as pie</h3>
				<p>No need to be technical and run your own full node. We ensure the bakery has all the latest software and take care of all the details.</p>
			</li>
			<li class="icon fa-headphones">
				<h3>Governance Voting</h3>
				<p>We actively vote on your behalf to bring new improvements to the tezos ecosystem.</p>
			</li>
			<li class="icon fa-question-circle">
				<h3>Helpful</h3>
				<p>Your questions answered are only an email, tweet, or riot chat message away.</p>
			</li>
			<li class="icon fa-server">
				<h3>Powerful Secure Servers</h3>
				<p>Yes, you read that right. We have multiple dedicated servers for all your professional baking delegation needs.</p>
			</li>
			<li class="icon fa-heart-o">
				<h3>Higher Profits and Low Fees</h3>
				<p>We love paying you fresh tezzie rolls from the oven. We keep baking operating costs low at 5% fee. You keep 95% of new rewards.</p>
			</li>
			<li class="icon fa-flag-o">
				<h3>Low Minimum Delegation</h3>
				<p>Get started with as low as 10 tezzies.</p>
			</li>
		</ul>
	</div>
</section>
