<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>:: Current Status ::<br />
			ALMOST FULL  -- CAPACITY FOR < 180k XTZ</h2>
			<p><b>UPDATE: April 12, 2020 - THANK YOU! We're almost full. Check our available "free space" for delegations at <a href="https://baking-bad.org/">baking-bad.org</a></b>
			<p>Delegate your tez to steakandbake to start receiving your baking rewards.
			<div class="table-wrapper">
			<table>
				<thead>
					<tr>
						<th>Day</th>
						<th>What happens?</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Day 1 (Cycle 0)</td>
						<td>You start delegating to steakandbake.</td>
					</tr>
					<tr>
						<td>Day 22 (Cycle 7)</td>
						<td>Delegation rewards are assigned to steakandbake.</td>
					</tr>
					<tr>
						<td>Around day 38 (Cycle 12)</td>
						<td>Delegation rewards are released to steakandbake.</td>
					</tr>
					<tr>
						<td>Around day 38</td>
						<td>You're paid automatically!!!</td>
					</tr>
					<tr>
						<td>Anytime</td>
						<td>Check your rewards by entering your delegation address at <b><a href="https://baking-bad.org/">baking-bad.org</a><b></td>
					</tr>
				</tbody>
			</table>
		</div>
			<b>Don't delay, start delegating today!</b>
		</header>
		<ul class="icons major">
			<li><span class="icon fa-diamond major style1"><span class="label">Diamond</span></span>
			</li>
			<li><span class="icon fa-heart-o major style2"><span class="label">Heart</span></span>
			</li>
			<li><span class="icon fa-smile-o major style3"><span class="label">Smile</span></span>
			</li>
		</ul>
	</div>
</section>
